    $color-black: #222;
    $color-altern: #fff;
    $color-secundary: rgb(250, 73, 226);
    $background-primary:  linear-gradient(233deg, #3945ee, rgb(250, 73, 226));
    $color-primary: #3945ee;
    $color-danger: #e71247;
